# Windows/Envoy specific Bazel build/test options.

build --define signal_trace=disabled
build --define hot_restart=disabled
build --define tcmalloc=disabled
build --workspace_status_command="bash bazel/get_workspace_status"

build --experimental_enable_runfiles
build --features=compiler_param_file
build --features=static_link_msvcrt
