version: 2
updates:

# We currently have CI to make sure that all python `requirements.txt` files
# are listed here, and only existing `requirements.txt` files are listed here.
#
# Until https://github.com/envoyproxy/envoy/issues/26163 is resolved `Dockerfiles`,
# and `go.mod` files need to be kept in sync manually.
#
# Please ensure any new ones are added here, and any that are removed are removed here also.

- package-ecosystem: "pip"
  directory: "/examples/grpc-bridge/client"
  schedule:
    interval: "daily"
    time: "06:00"

- package-ecosystem: "pip"
  directory: "/examples/cache"
  schedule:
    interval: "daily"
    time: "06:00"

- package-ecosystem: "pip"
  directory: "/examples/shared/python/aiohttp"
  schedule:
    interval: "daily"
    time: "06:00"

- package-ecosystem: "pip"
  directory: "/examples/shared/python/postgres"
  schedule:
    interval: "daily"
    time: "06:00"

- package-ecosystem: "pip"
  directory: "/tools/base"
  open-pull-requests-limit: 20
  schedule:
    interval: "daily"
    time: "06:00"

- package-ecosystem: "docker"
  directory: "/.devcontainer"
  schedule:
    interval: daily
    time: "06:00"

- package-ecosystem: "docker"
  directory: "/ci"
  schedule:
    interval: daily
    time: "06:00"

- package-ecosystem: "docker"
  directory: "/examples/ext_authz"
  schedule:
    interval: daily
    time: "06:00"

- package-ecosystem: "docker"
  directory: "/examples/fault-injection"
  schedule:
    interval: daily
    time: "06:00"

- package-ecosystem: "docker"
  directory: "/examples/golang-network"
  schedule:
    interval: daily
    time: "06:00"

- package-ecosystem: "docker"
  directory: "/examples/grpc-bridge"
  schedule:
    interval: daily
    time: "06:00"

- package-ecosystem: "docker"
  directory: "/examples/kafka"
  schedule:
    interval: daily
    time: "06:00"

- package-ecosystem: "docker"
  directory: "/examples/local_ratelimit"
  schedule:
    interval: daily
    time: "06:00"

- package-ecosystem: "docker"
  directory: "/examples/mysql"
  schedule:
    interval: daily
    time: "06:00"

- package-ecosystem: "docker"
  directory: "/examples/opentelemetry"
  schedule:
    interval: daily
    time: "06:00"

- package-ecosystem: "docker"
  directory: "/examples/redis"
  schedule:
    interval: daily
    time: "06:00"

- package-ecosystem: "docker"
  directory: "/examples/shared/build"
  schedule:
    interval: daily
    time: "06:00"

- package-ecosystem: "docker"
  directory: "/examples/shared/echo"
  schedule:
    interval: daily
    time: "06:00"

# TODO(phlax): just use above
- package-ecosystem: "docker"
  directory: "/examples/shared/echo2"
  schedule:
    interval: daily
    time: "06:00"

- package-ecosystem: "docker"
  directory: "/examples/shared/golang"
  schedule:
    interval: daily
    time: "06:00"

- package-ecosystem: "docker"
  directory: "/examples/shared/jaeger"
  schedule:
    interval: daily
    time: "06:00"

- package-ecosystem: "docker"
  directory: "/examples/shared/node"
  schedule:
    interval: daily
    time: "06:00"

- package-ecosystem: "docker"
  directory: "/examples/shared/postgres"
  schedule:
    interval: daily
    time: "06:00"

- package-ecosystem: "docker"
  directory: "/examples/shared/python"
  schedule:
    interval: daily
    time: "06:00"

- package-ecosystem: "docker"
  directory: "/examples/shared/websocket"
  schedule:
    interval: daily
    time: "06:00"

- package-ecosystem: "docker"
  directory: "/examples/skywalking"
  schedule:
    interval: daily
    time: "06:00"

- package-ecosystem: "docker"
  directory: "/examples/udp"
  schedule:
    interval: daily
    time: "06:00"

- package-ecosystem: "docker"
  directory: "/examples/zipkin"
  schedule:
    interval: daily
    time: "06:00"

- package-ecosystem: "github-actions"
  directory: "/"
  schedule:
    interval: daily
    time: "06:00"

- package-ecosystem: "gomod"
  directory: "/"
  schedule:
    interval: daily
    time: "06:00"

- package-ecosystem: "gomod"
  directory: "/contrib/golang/filters/http/test/test_data/basic"
  schedule:
    interval: daily
    time: "06:00"

- package-ecosystem: "gomod"
  directory: "/contrib/golang/filters/http/test/test_data/dummy"
  schedule:
    interval: daily
    time: "06:00"

- package-ecosystem: "gomod"
  directory: "/contrib/golang/filters/http/test/test_data/echo"
  schedule:
    interval: daily
    time: "06:00"

- package-ecosystem: "gomod"
  directory: "/contrib/golang/filters/http/test/test_data/metric"
  schedule:
    interval: daily
    time: "06:00"

- package-ecosystem: "gomod"
  directory: "/contrib/golang/filters/http/test/test_data/passthrough"
  schedule:
    interval: daily
    time: "06:00"

- package-ecosystem: "gomod"
  directory: "/contrib/golang/filters/http/test/test_data/access_log"
  schedule:
    interval: daily
    time: "06:00"

- package-ecosystem: "gomod"
  directory: "/contrib/golang/filters/http/test/test_data/action"
  schedule:
    interval: daily
    time: "06:00"

- package-ecosystem: "gomod"
  directory: "/contrib/golang/filters/http/test/test_data/buffer"
  schedule:
    interval: daily
    time: "06:00"

- package-ecosystem: "gomod"
  directory: "/contrib/golang/filters/http/test/test_data/routeconfig"
  schedule:
    interval: daily
    time: "06:00"

- package-ecosystem: "gomod"
  directory: "/contrib/golang/filters/http/test/test_data/property"
  schedule:
    interval: daily
    time: "06:00"

- package-ecosystem: "gomod"
  directory: "/contrib/golang/router/cluster_specifier/test/test_data/simple"
  schedule:
    interval: daily
    time: "06:00"

- package-ecosystem: "gomod"
  directory: "/contrib/golang/filters/network/test/test_data"
  schedule:
    interval: daily
    time: "06:00"

- package-ecosystem: "gomod"
  directory: "/examples/ext_authz/auth/grpc-service"
  schedule:
    interval: daily
    time: "06:00"

- package-ecosystem: "gomod"
  directory: "/examples/load-reporting-service"
  schedule:
    interval: daily
    time: "06:00"

- package-ecosystem: "gomod"
  directory: "/examples/grpc-bridge/server"
  schedule:
    interval: daily
    time: "06:00"

- package-ecosystem: "gomod"
  directory: "/examples/golang-http/simple"
  schedule:
    interval: daily
    time: "06:00"

- package-ecosystem: "gomod"
  directory: "/examples/golang-network/simple"
  schedule:
    interval: daily
    time: "06:00"
