version: 2
updates:

# We currently have CI to make sure that all python `requirements.txt` files
# are listed here, and only existing `requirements.txt` files are listed here.
#
# Until https://github.com/envoyproxy/envoy/issues/26163 is resolved `Dockerfiles`,
# and `go.mod` files need to be kept in sync manually.
#
# Please ensure any new ones are added here, and any that are removed are removed here also.

- package-ecosystem: "pip"
  directory: "/tools/base"
  open-pull-requests-limit: 20
  schedule:
    interval: "daily"
    time: "06:00"

- package-ecosystem: "docker"
  directory: "/.devcontainer"
  schedule:
    interval: daily
    time: "06:00"

- package-ecosystem: "docker"
  directory: "/ci"
  schedule:
    interval: daily
    time: "06:00"

- package-ecosystem: "github-actions"
  directory: "/"
  schedule:
    interval: daily
    time: "06:00"

- package-ecosystem: "gomod"
  directory: "/"
  schedule:
    interval: daily
    time: "06:00"

- package-ecosystem: "gomod"
  directory: "/contrib/golang/filters/http/test/test_data/basic"
  groups:
    contrib-golang:
      patterns:
      - "*"
  schedule:
    interval: daily
    time: "06:00"

- package-ecosystem: "gomod"
  directory: "/contrib/golang/filters/http/test/test_data/dummy"
  groups:
    contrib-golang:
      patterns:
      - "*"
  schedule:
    interval: daily
    time: "06:00"

- package-ecosystem: "gomod"
  directory: "/contrib/golang/filters/http/test/test_data/echo"
  groups:
    contrib-golang:
      patterns:
      - "*"
  schedule:
    interval: daily
    time: "06:00"

- package-ecosystem: "gomod"
  directory: "/contrib/golang/filters/http/test/test_data/metric"
  groups:
    contrib-golang:
      patterns:
      - "*"
  schedule:
    interval: daily
    time: "06:00"

- package-ecosystem: "gomod"
  directory: "/contrib/golang/filters/http/test/test_data/passthrough"
  groups:
    contrib-golang:
      patterns:
      - "*"
  schedule:
    interval: daily
    time: "06:00"

- package-ecosystem: "gomod"
  directory: "/contrib/golang/filters/http/test/test_data/access_log"
  groups:
    contrib-golang:
      patterns:
      - "*"
  schedule:
    interval: daily
    time: "06:00"

- package-ecosystem: "gomod"
  directory: "/contrib/golang/filters/http/test/test_data/action"
  groups:
    contrib-golang:
      patterns:
      - "*"
  schedule:
    interval: daily
    time: "06:00"

- package-ecosystem: "gomod"
  directory: "/contrib/golang/filters/http/test/test_data/buffer"
  groups:
    contrib-golang:
      patterns:
      - "*"
  schedule:
    interval: daily
    time: "06:00"

- package-ecosystem: "gomod"
  directory: "/contrib/golang/filters/http/test/test_data/routeconfig"
  groups:
    contrib-golang:
      patterns:
      - "*"
  schedule:
    interval: daily
    time: "06:00"

- package-ecosystem: "gomod"
  directory: "/contrib/golang/filters/http/test/test_data/property"
  schedule:
    interval: daily
    time: "06:00"

- package-ecosystem: "gomod"
  directory: "/contrib/golang/filters/http/test/test_data/websocket"
  schedule:
    interval: daily
    time: "06:00"

- package-ecosystem: "gomod"
  directory: "/contrib/golang/filters/network/test/test_data"
  groups:
    contrib-golang:
      patterns:
      - "*"
  schedule:
    interval: daily
    time: "06:00"

- package-ecosystem: "gomod"
  directory: "/contrib/golang/router/cluster_specifier/test/test_data/simple"
  groups:
    contrib-golang:
      patterns:
      - "*"
  schedule:
    interval: daily
    time: "06:00"
