Checks:          'readability-identifier-naming,-clang*'

#TODO(lizan): grow this list, fix possible warnings and make more checks as error
WarningsAsErrors: 'readability-identifier-naming'

CheckOptions:
  - key:             bugprone-assert-side-effect.AssertMacros
    value:           'ASSERT'

  - key:             bugprone-dangling-handle.HandleClasses
    value:           'std::basic_string_view;std::experimental::basic_string_view;absl::string_view'

  - key:             modernize-use-auto.MinTypeNameLength
    value:           '10'

  - key:             readability-identifier-naming.ClassCase
    value:           'CamelCase'

  - key:             readability-identifier-naming.EnumCase
    value:           'CamelCase'

  - key:             readability-identifier-naming.EnumConstantCase
    value:           'CamelCase'

  - key:             readability-identifier-naming.ParameterCase
    value:           'lower_case'

  - key:             readability-identifier-naming.PrivateMemberCase
    value:           'lower_case'

  - key:             readability-identifier-naming.PrivateMemberSuffix
    value:           '_'

  - key:             readability-identifier-naming.PrivateMethodCase
    value:           'camelBack'

  - key:             readability-identifier-naming.StructCase
    value:           'CamelCase'

  - key:             readability-identifier-naming.TypeAliasCase
    value:           'CamelCase'

  - key:             readability-identifier-naming.UnionCase
    value:           'CamelCase'

