
[flake8]

# TODO(phlax): make this an exclusive list and enable most tests
select = N802,F401,E111,F821,E9,F63,F72,F82

# TODO(phlax): exclude less
exclude = build_docs,.git,generated,test,examples,venv
