/build
/build_*
/docs/landing_source/.bundle
/generated
/bazel-*
/ci/bazel-*
/ci/prebuilt/thirdparty
/ci/prebuilt/thirdparty_build
/test/coverage/BUILD
cscope.*
BROWSE
.deps
*.pyc
SOURCE_VERSION
.cache
