/docs/root/intro/version_history.rst merge=union
*.generated.pb_text linguist-generated=true
*.generated.pb_text -diff -merge
/test/**/*_corpus/* linguist-generated=true
/test/**/*_corpus/* -diff -merge
