/bazel-*
BROWSE
/build
/build_*
.cache
/ci/bazel-*
/ci/prebuilt/thirdparty
/ci/prebuilt/thirdparty_build
cscope.*
.deps
/docs/landing_source/.bundle
/generated
*.pyc
SOURCE_VERSION
*.sw*
tags
TAGS
/test/coverage/BUILD
.vimrc
.vs
.vscode
