* text=auto eol=lf

/generated_api_shadow/envoy/** linguist-generated=true
/generated_api_shadow/bazel/** linguist-generated=true
*.svg binary
/test/common/tls/test_data/aes_128_key binary
/test/common/tls/test_data/ticket_key_* binary
/test/**/*_corpus/* linguist-generated=true
requirements.txt binary
package.lock binary
yarn.lock binary
