version: "3.8"
services:
  envoy:
    build:
      context: .
      dockerfile: Dockerfile-envoy
    command: /usr/local/bin/envoy -c /etc/envoy.yaml
    volumes:
    - ./runtime:/srv/runtime
    ports:
    - 9211:9211
  backend:
    image: kennethreitz/httpbin@sha256:2c7abc4803080c22928265744410173b6fea3b898872c01c5fd0f0f9df4a59fb
    ports:
    - 8080:80
