{#
  Template for request serialization/deserialization tests.
  For every request, we want to check if it can be serialized and deserialized properly.
#}

#include "extensions/filters/network/kafka/external/requests.h"
#include "extensions/filters/network/kafka/request_codec.h"

#include "test/mocks/server/mocks.h"

#include "gmock/gmock.h"
#include "gtest/gtest.h"

namespace Envoy {
namespace Extensions {
namespace NetworkFilters {
namespace Kafka {
namespace RequestTest {

class RequestTest : public testing::Test {
public:
  Buffer::OwnedImpl buffer_;

  template <typename T> std::shared_ptr<T> serializeAndDeserialize(T request);
};

class MockMessageListener : public RequestCallback {
public:
  MOCK_METHOD1(onMessage, void(AbstractRequestSharedPtr));
  MOCK_METHOD1(onFailedParse, void(RequestParseFailureSharedPtr));
};

/**
 * Helper method.
 * Takes an instance of a request, serializes it, then deserializes it.
 * This method gets executed for every request * version pair.
 */
template <typename T> std::shared_ptr<T> RequestTest::serializeAndDeserialize(T request) {
  RequestEncoder encoder{buffer_};
  encoder.encode(request);

  std::shared_ptr<MockMessageListener> mock_listener = std::make_shared<MockMessageListener>();
  RequestDecoder testee{RequestParserResolver::getDefaultInstance(), {mock_listener}};

  AbstractRequestSharedPtr receivedMessage;
  EXPECT_CALL(*mock_listener, onMessage(testing::_))
    .WillOnce(testing::SaveArg<0>(&receivedMessage));

  testee.onData(buffer_);

  return std::dynamic_pointer_cast<T>(receivedMessage);
};

{#
  Concrete tests for each request_type and version (field_list).
  Each request is naively constructed using some default values
  (put "string" as std::string, 32 as uint32_t, etc.).
#}
{% for request_type in request_types %}{% for field_list in request_type.compute_field_lists() %}
TEST_F(RequestTest, shouldParse{{ request_type.name }}V{{ field_list.version }}) {
  // given
  {{ request_type.name }} data = { {{ field_list.example_value() }} };
  Request<{{ request_type.name }}> request = { {
    {{ request_type.get_extra('api_key') }}, {{ field_list.version }}, 0, absl::nullopt }, data };

  // when
  auto received = serializeAndDeserialize(request);

  // then
  ASSERT_NE(received, nullptr);
  ASSERT_EQ(*received, request);
}
{% endfor %}{% endfor %}

} // namespace RequestTest
} // namespace Kafka
} // namespace NetworkFilters
} // namespace Extensions
} // namespace Envoy
