exclude: '(^third_party/rbe_configs/cc/module.modulemap$)|(/certificates.inc$)|(test/.*/testing/data/)'
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v2.1.0
  hooks:
    - id: trailing-whitespace
    - id: end-of-file-fixer
    - id: check-docstring-first
    - id: check-executables-have-shebangs
    - id: check-merge-conflict
    - id: check-yaml
      exclude: '(.clang-format|test_envoy_config_template.yaml)'
    - id: detect-private-key
      exclude: 'experimental/swift/QUICStreamTest.swift'
    - id: mixed-line-ending
- repo: https://github.com/codespell-project/codespell
  rev: v2.1.0
  hooks:
    - id: codespell
      args: ['-L=inout,keyserver,optin,uint']
