version: 2.1

executors:
  ubuntu-build:
    description: "A regular build executor based on ubuntu image"
    docker:
      # NOTE: Update this from https://github.com/envoyproxy/envoy-build-tools/blob/master/toolchains/rbe_toolchains_config.bzl#L7
      - image: envoyproxy/envoy-build-ubuntu@sha256:3ca8acc35fdb57ab26e1bb5f9488f37095f45acd77a12602510410dbefa00b58
    resource_class: xlarge
    working_directory: /source

jobs:
   release:
     executor: ubuntu-build
     environment:
       BAZEL_REMOTE_CACHE: https://storage.googleapis.com/envoy-circleci-bazel-cache/
     steps:
       - run: rm -rf /home/circleci/project/.git # CircleCI git caching is likely broken
       - checkout
       - run:
           command:
             ci/do_circle_ci.sh bazel.release
           no_output_timeout: 60m
       - persist_to_workspace:
           root: .
           paths:
             - build_release
             - build_release_stripped
       - store_artifacts:
           path: /build/envoy/generated
           destination: /
   docker:
     docker:
       - image: google/cloud-sdk
     steps:
       - run: rm -rf /home/circleci/project/.git # CircleCI git caching is likely broken
       - checkout
       - attach_workspace:
           at: .
       - setup_remote_docker
       - run: ci/docker_build.sh
       - run: ci/docker_push.sh
       - run: ci/docker_tag.sh

   api:
     executor: ubuntu-build
     steps:
       - run: rm -rf /home/circleci/project/.git # CircleCI git caching is likely broken
       - checkout
       - run: ci/do_circle_ci.sh bazel.api
       - add_ssh_keys:
           fingerprints:
             - "fb:f3:fe:be:1c:b2:ec:b6:25:f9:7b:a6:87:54:02:8c"
       - run: ci/api_mirror.sh
       - store_artifacts:
           path: /build/envoy/generated
           destination: /

   go_control_plane_mirror:
     executor: ubuntu-build
     steps:
       - run: rm -rf /home/circleci/project/.git # CircleCI git caching is likely broken
       - checkout
       - run: ci/do_circle_ci.sh bazel.api
       - add_ssh_keys:
           fingerprints:
             - "9d:3b:fe:7c:09:3b:ce:a9:6a:de:de:41:fb:6b:52:62"
       - run: ci/go_mirror.sh

   filter_example_mirror:
     executor: ubuntu-build
     steps:
       - run: rm -rf /home/circleci/project/.git # CircleCI git caching is likely broken
       - checkout
       - add_ssh_keys:
           fingerprints:
             - "f6:f9:df:90:9c:4b:5f:9c:f4:69:fd:42:94:ff:88:24"
       - run: ci/filter_example_mirror.sh

   coverage:
     executor: ubuntu-build
     steps:
       - run: rm -rf /home/circleci/project/.git # CircleCI git caching is likely broken
       - checkout
       - run:
           command:
             ci/do_circle_ci.sh bazel.coverage
           no_output_timeout: 60m
       - persist_to_workspace:
           root: /build/envoy/generated
           paths:
             - coverage
       - store_artifacts:
           path: /build/envoy/generated
           destination: /

   coverage_publish:
     docker:
       - image: google/cloud-sdk
     steps:
       - run: rm -rf /home/circleci/project/.git # CircleCI git caching is likely broken
       - checkout
       - attach_workspace:
           at: /build/envoy/generated
       - run: ci/coverage_publish.sh

   clang_tidy:
     executor: ubuntu-build
     steps:
       - run: rm -rf /home/circleci/project/.git # CircleCI git caching is likely broken
       - checkout
       - run:
           command:
             ci/do_circle_ci.sh bazel.clang_tidy
           no_output_timeout: 60m

   docs:
     executor: ubuntu-build
     steps:
       - run: rm -rf /home/circleci/project/.git # CircleCI git caching is likely broken
       - checkout
       - run: ci/do_circle_ci.sh docs
       - add_ssh_keys:
           fingerprints:
             - "44:c7:a1:9e:f4:9e:a5:33:11:f1:0e:79:e1:55:c9:04"
       - run: docs/publish.sh
       - store_artifacts:
           path: generated/docs

workflows:
  version: 2
  all:
    jobs:
      - release:
          filters:
            tags:
              only: /^v.*/
      - docker:
          requires: [release]
          filters:
            tags:
              only: /^v.*/
      - api
      - go_control_plane_mirror
      - filter_example_mirror
      - coverage
      - coverage_publish:
          requires: [coverage]
      - clang_tidy
      - docs:
          filters:
            tags:
              only: /^v.*/
