<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="io.envoyproxy.envoymobile.helloenvoyexperimentaltest"
          android:versionCode="1"
          android:versionName="0.1">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-sdk
            android:minSdkVersion="26"
            android:targetSdkVersion="27"/>

    <application
            android:label="Hello Envoy Experimental Test">
        <activity
                android:name=".MainActivity"
                android:label="Hello Envoy Experimental Test">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
