.home-table {
  font-family: sans-serif;
  font-size: medium;
  border-collapse: collapse;
  border-spacing: 0;
}

.home-data {
  text-align: left;
  padding: 4px;
}

.home-form {
  margin-bottom: 0;
}

.button-as-link {
  background: none!important;
  border: none;
  padding: 0!important;
  font-family: sans-serif;
  font-size: medium;
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}

.gray {
  background-color: #dddddd;
}

.vert-space {
  height: 4px;
}

.option {
  padding-bottom: 4px;
  padding-top: 4px;
  padding-right: 4px;
  padding-left: 20px;
  text-align: right;
}

.error-status-line {
  font-family: sans-serif;
  font-size: medium;
  color: #c00;
}

.histogram-graphics {
  display: flex;
  align-items: flex-start;
  justify-content: stretch;
  background-color: #ccc;
  height: 40px;
}

.histogram-labels {
  display: flex;
  align-items: flex-start;
  justify-content: stretch;
  background-color: #ddd;
}

.histogram-buckets {
    /*margin-right: 50px;*/
    width: 10px;
    background-color: #c11;
    align-self: baseline;
}

.histogram-percentile {
    /*margin-right: 50px;*/
    width: 5px;
    background-color: #7a7;
    align-self: baseline;
    height: 100%;
}

.histogram-labels span {
    /*margin-right: 50px;*/
    width: 10px;
    align-self: baseline;
    font-family: sans-serif;
    font-size: 12px;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: yellow;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
