.home-table {
  font-family: sans-serif;
  font-size: medium;
  border-collapse: collapse;
  border-spacing: 0;
}

.home-data {
  text-align: left;
  padding: 4px;
}

.home-form {
  margin-bottom: 0;
}

.button-as-link {
  background: none!important;
  border: none;
  padding: 0!important;
  font-family: sans-serif;
  font-size: medium;
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}

.gray {
  background-color: #dddddd;
}

.vert-space {
  height: 4px;
}

.option {
  padding-bottom: 4px;
  padding-top: 4px;
  padding-right: 4px;
  padding-left: 20px;
  text-align: right;
}

.error-status-line {
  font-family: sans-serif;
  font-size: medium;
  color: #c00;
}

.histogram-graphics {
  height: 40px;
  position: relative;
}

.histogram-percentiles {
  height: 40px;
  position: relative;
}

.histogram-labels {
  background-color: #ddd;
  position: relative;
  height: 15px;
}

.histogram-name {
  font-family: sans-serif;
  font-size: 14px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
}

.histogram-bucket {
  bottom: 0;
  /* background-color: #c11; */
  background-color: #e6d7ff;
  position: absolute;
  width: 16px;
  /* margin-left: -8px; */
}

.histogram-percentile {
  width: 5px;
  background-color: #b7ceb7;
  height: 40%;
  width: 4px;
  top: 0;
  position: absolute;
  /* margin-left: -2px; */
}

.bucket-label {
  position: absolute;
  bottom: 1%;
  font-family: sans-serif;
  font-size: 12px;
  /* color: white; */
  /* margin-left: -12px; */
}

.percentile-label {
  position: absolute;
  font-family: sans-serif;
  font-size: 12px;
  /* margin-left: 8px; */
  /* margin-left: -5px; */
  /* margin-right: 3px; */
  /* color: white; */
  z-index: 2;
}

.histogram-labels span {
  position: absolute;
  bottom: 0;
  font-family: sans-serif;
  font-size: 12px;
}

/*
.histogram-percentile .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: yellow;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  Position the tooltip
   position: absolute;
  z-index: 1;
}*/

/*.tooltip:hover .tooltiptext {
  visibility: visible;
} */
