services:

  # front-proxy
  front-envoy:
    build:
      context: .
      dockerfile: ../shared/envoy/Dockerfile
    depends_on:
      service1:
        condition: service_healthy
      service2:
        condition: service_healthy
    ports:
    - "${PORT_PROXY:-8080}:8080"
    - "${PORT_HTTPS:-8443}:8443"
    - "${PORT_STATS:-8001}:8001"

  service1:
    build:
      context: ../shared/python
      target: aiohttp-tracing-service2
    environment:
    - SERVICE_NAME=1

  service2:
    build:
      context: ../shared/python
      target: aiohttp-tracing-service2
    environment:
    - SERVICE_NAME=2
