name: cc_tests

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  cctests:
    name: cc_tests
    runs-on: ubuntu-latest
    timeout-minutes: 120
    container:
      image: envoyproxy/envoy-build-ubuntu:0a02a76af5951bf7f4c7029c0ea6d29d96c0f682
    steps:
      - uses: actions/checkout@v1
        with:
          submodules: true
      - name: Add safe directory
        run: git config --global --add safe.directory /__w/envoy-mobile/envoy-mobile
      - env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        name: 'Run tests'
        run: ./bazelw test --action_env=LD_LIBRARY_PATH --test_output=all --config=remote-ci-linux --remote_header="Authorization=Bearer $GITHUB_TOKEN" //test/cc/...
