name: core

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  unittests:
    name: unit_tests
    runs-on: macOS-10.14
    timeout-minutes: 45
    steps:
      - uses: actions/checkout@v1
        with:
          submodules: true
      - name: 'Install dependencies'
        run: ./ci/mac_ci_setup.sh
      - name: 'Run tests'
        run: bazel test //test/common/...
