#include "extensions/filters/network/kafka/header.h"

namespace Envoy {
namespace Extensions {
namespace NetworkFilters {
namespace Kafka {

int Something::doSomething() {
  return 13;
}

} // namespace Kafka
} // namespace NetworkFilters
} // namespace Extensions
} // namespace Envoy
