#pragma once

#include <memory>

namespace Envoy {
namespace Extensions {
namespace NetworkFilters {
namespace Kafka {

class GeneratedSomething {
	int foo() {
		return 13;
	}
};

typedef std::unique_ptr<GeneratedSomething> GeneratedSomethingPtr;

}}}}
