#pragma once

#include "extensions/filters/network/kafka/normal_header.h"

namespace Envoy {
namespace Extensions {
namespace NetworkFilters {
namespace Kafka {

class Generated {
public:
  Generated(){};

  int someMethod(Argument& arg) {
    return arg.value() + 2;
  }
};

} // namespace Kafka
} // namespace NetworkFilters
} // namespace Extensions
} // namespace Envoy
