{#
  Main template for 'requests.cc' file.
#}
#include "contrib/kafka/filters/network/source/external/requests.h"

namespace Envoy {
namespace Extensions {
namespace NetworkFilters {
namespace Kafka {

{{ contents }}

}}}}
