{#
  Main template for 'responses.cc' file.
#}
#include "contrib/kafka/filters/network/source/external/responses.h"

namespace Envoy {
namespace Extensions {
namespace NetworkFilters {
namespace Kafka {

{{ contents }}

}}}}
