<footer class="footer" data-waypoint="footer" role="contentinfo">
  <div class="wrap-container">
    <div class="footer-column">
      <article class="footer-site-information">
        <p>
          &copy; 2014&ndash;<%= Date.today.year %> Lyft, Inc
        </p>
      </article>
      <article class="footer-contact">
        <ul class="footer-contact-list">
          <li class="footer-contact-list-item twitter-link">
            <%= partial 'partials/twitter_widget' %>
          </li>
          <li class="footer-contact-list-item github-link">
            <%= partial 'partials/github_widget' %>
          </li>
          <li class="footer-contact-list-item">
            <%= link_to t("built.download"), "http://www.lyft.com/app" %>
          </li>
        </ul>
      </article>
    </div>
    <div class="footer-column footer-right">
      <p class="footer-credit">
        From the developers at
      </p>
      <a href="http://lyft.com" target="_blank">
        <span class="footer-logo"></span>
      </a>
    </div>
  </div>
</footer>
