# Envoy specific Bazel build/test options.

build --workspace_status_command=bazel/get_workspace_status

build:asan --copt -fsanitize=address
build:asan --linkopt -fsanitize=address
build:asan --linkopt -ldl
build:asan --define tcmalloc=disabled
build:asan --build_tag_filters=-no_asan
build:asan --test_tag_filters=-no_asan
build:asan --define signal_trace=disabled
