
try-import ../.bazelrc

common --@proxy-wasm-cpp-host//bazel:engine=disabled
build --@rules_rust//rust/settings:extra_exec_rustc_flags=-Clink-self-contained=no

common --enable_bzlmod
common --noenable_workspace
common --@envoy//bazel:enable_bzlmod=True
