.footer {
  background-color: $footer-background-color;
  color: $white;
  padding: 2em 0;

  @include media($medium-screen-up) {
    padding: 3em 0;
  }

  a {
    color: $footer-link-color;
    font-weight: $font-weight-bold;

    &:hover {
      color: $footer-link-hover-color;
    }
  }

  p {
    font-size: $base-font-size;
    margin: 0 auto 0.5em;
  }
}

.footer-column {
  @include media($medium-screen-up) {
    @include span-columns(6 of 12);
    @include omega(2n);
  }
}

.footer-column.footer-right {
  text-align: center;

  @include media($medium-screen-up) {
    text-align: right;
  }
}

.footer-site-information {
  margin-bottom: 1em;
  text-align: center;

  @include media($medium-screen-up) {
    margin-bottom: 2em;
    text-align: left;
  }

  p {
    margin-bottom: 0.25em;
  }
}

.footer-credit a,
.footer-open-source-credit a,
{
  font-weight: $font-weight-normal;
  text-decoration: underline;
}

.footer-contact-list {
  @include fill-parent;
  @include clearfix;
}

.footer-contact-list-item {
  display: none;

  &:last-child {
    margin-right: 0;
  }

  @include media($medium-screen-up) {
    display: inline-block;
    float: left;
  }
}

.footer-credit {
  margin-top: 2em;
  margin-bottom: 0;

  @include media($medium-screen-up) {
    margin-top: 0;
  }
}

.footer-logo {
  display: inline-block;
  background-image: inline-image('lyft-logo.png');
  background-repeat: no-repeat;
  background-size: 82px;
  height: 60px;
  width: 82px;
}

.github-link {
  margin-top: -10px;
}
