version: '3.7'
services:

  envoy:
    build:
      context: .
      dockerfile: Dockerfile-envoy
    ports:
    - "80-81:80"
    - "8081:8081"

  http_service:
    build:
      context: .
      dockerfile: Dockerfile-http-server

  lrs_server:
    build:
      context: .
      dockerfile: Dockerfile-lrs
    volumes:
    - /go/src/github.com/envoyproxy/envoy/examples/load-reporting-service
    ports:
    - "18000:18000"
