<% wrap_layout :layout do %>
  <header id="header">
    <%= partial 'partials/global_nav' %>
  </header>

  <div class="body-content-container wrap-container" role="main">
    <nav id="toc" class="sidebar" data-waypoint="sidebar">
      <%= partial 'partials/documentation_nav' %>
    </nav>

    <main class="main" role="main" data-waypoint="main">
      <%= yield %>
    </main>
  </div>
<% end %>
