# Windows/Envoy specific Bazel build/test options.

build --define signal_trace=disabled
build --define hot_restart=disabled
build --define tcmalloc=disabled

build --experimental_enable_runfiles
build --features=compiler_param_file
build --features=static_link_msvcrt

build --strategy=Genrule=standalone
build --spawn_strategy=standalone
build --jobs=$env:NUM_CPUS

build --verbose_failures
build --show_task_finish

test --test_tag_filters=-skip_on_windows
test --test_output=all
test --cache_test_results=yes

