
common --registry=https://bcr.bazel.build/
common --registry=https://raw.githubusercontent.com/envoyproxy/bazel-registry/211cb075b962f6b9c097b08f40054cb382bfc2b8

# Build settings
build --incompatible_strict_action_env
