name: Check/coverage

permissions:
  contents: read

on:
  workflow_call:
    secrets:
      gcp-key:
        required: true

    inputs:
      request:
        type: string
        required: true
      trusted:
        type: boolean
        required: true

concurrency:
  group: ${{ github.head_ref || github.run_id }}-${{ github.workflow }}-coverage
  cancel-in-progress: true


jobs:
  coverage:
    secrets:
      gcp-key: ${{ secrets.gcp-key }}
    permissions:
      actions: read
      contents: read
      packages: read
    uses: ./.github/workflows/_run.yml
    name: ${{ matrix.name ||matrix.target }}
    with:
      bazel-cache: true
      bazel-extra: '--config=rbe'
      cache-build-image: ${{ fromJSON(inputs.request).request.build-image.default }}
      concurrency-suffix: -${{ matrix.target }}
      error-match: |
        ERROR
        error:
        Error:
        lower than limit
      rbe: true
      request: ${{ inputs.request }}
      runs-on: ${{ fromJSON(inputs.request).config.ci.agent-ubuntu }}
      steps-post: |
        - uses: envoyproxy/toolshed/actions/gcs/artefact/sync@35f9bcf37d0ceaedea0250da014348ce4bdf8d35  # v0.4.1
          with:
            bucket: ${{ inputs.trusted && vars.GCS_ARTIFACT_BUCKET_POST || vars.GCS_ARTIFACT_BUCKET_PRE }}
            path: generated/${{ matrix.target }}/html
            path-upload: ${{ matrix.target }}
            sha: ${{ fromJSON(inputs.request).request.sha }}
            redirect: >-
              ${{ vars.GCS_ARTIFACT_PREFIX
                  && format('{0}-', vars.GCS_ARTIFACT_PREFIX)
              }}${{ fromJSON(inputs.request).request.pr
                    || fromJSON(inputs.request).request.target-branch }}
      target: ${{ matrix.target }}
      timeout-minutes: 180
      trusted: ${{ inputs.trusted }}
    strategy:
      fail-fast: false
      matrix:
        include:
        - target: coverage
          name: Coverage
        - target: fuzz_coverage
          name: Fuzz coverage
