name: Check/build

permissions:
  contents: read

on:
  workflow_call:
    inputs:
      request:
        type: string
        required: true
      trusted:
        type: boolean
        required: true

concurrency:
  group: ${{ github.head_ref || github.run_id }}-${{ github.workflow }}-build
  cancel-in-progress: true


jobs:
  build:
    permissions:
      actions: read
      contents: read
      packages: read
    uses: ./.github/workflows/_run.yml
    name: ${{ matrix.name ||matrix.target }}
    with:
      bazel-cache: true
      bazel-extra: '--config=rbe'
      cache-build-image: ${{ fromJSON(inputs.request).request.build-image.default }}
      concurrency-suffix: -${{ matrix.target }}
      docker-ci: ${{ matrix.docker-ci || false }}
      error-match: |
        ERROR
        error:
        Error:
      rbe: true
      request: ${{ inputs.request }}
      target: ${{ matrix.target }}
      timeout-minutes: 180
      trusted: ${{ inputs.trusted }}
    strategy:
      fail-fast: false
      matrix:
        include:
        - target: api
          name: API
        - target: compile_time_options
          name: Compile time options
          docker-ci: true
        - target: gcc
          name: GCC
