name: Check/build

permissions:
  contents: read

on:
  workflow_call:
    secrets:
      gcs-cache-key:
        required: true

    inputs:
      gcs-cache-bucket:
        type: string
        required: true
      request:
        type: string
        required: true
      trusted:
        type: boolean
        required: true

concurrency:
  group: ${{ github.head_ref || github.run_id }}-${{ github.workflow }}-build
  cancel-in-progress: true


jobs:
  build:
    secrets:
      gcs-cache-key: ${{ secrets.gcs-cache-key }}
    permissions:
      contents: read
      packages: read
    uses: ./.github/workflows/_run.yml
    name: ${{ matrix.name ||matrix.target }}
    with:
      bazel-extra: '--config=remote-envoy-engflow'
      cache-build-image: ${{ fromJSON(inputs.request).request.build-image.default }}
      concurrency-suffix: -${{ matrix.target }}
      diskspace-hack-paths: ${{ matrix.diskspace-hack-paths || '/opt/hostedtoolcache' }}
      docker-ci: ${{ matrix.docker-ci || false }}
      error-match: |
        ERROR
        error:
        Error:
      gcs-cache-bucket: ${{ inputs.gcs-cache-bucket }}
      rbe: true
      request: ${{ inputs.request }}
      target: ${{ matrix.target }}
      timeout-minutes: 180
      trusted: ${{ inputs.trusted }}
    strategy:
      fail-fast: false
      matrix:
        include:
        - target: api
          name: API
        - target: compile_time_options
          name: Compile time options
          docker-ci: true
        - target: gcc
          name: GCC
          diskspace-hack-paths: |
            /opt/hostedtoolcache
            /usr/local/.ghcup
