name: Precheck/format

permissions:
  contents: read

on:
  workflow_call:
    inputs:
      request:
        type: string
        required: true
      trusted:
        type: boolean
        required: true


concurrency:
  group: ${{ github.head_ref || github.run_id }}-${{ github.workflow }}-format
  cancel-in-progress: true


jobs:
  format:
    permissions:
      actions: read
      contents: read
      packages: read
    uses: ./.github/workflows/_run.yml
    name: ${{ matrix.name || matrix.target }}
    with:
      bazel-cache: true
      bazel-extra: '--config=rbe'
      cache-build-image: ${{ fromJSON(inputs.request).request.build-image.default }}
      concurrency-suffix: -${{ matrix.target }}
      request: ${{ inputs.request }}
      # format needs aspell, and format-api requires git
      docker-ci: false
      error-match: |
        ERROR
        error:
        Error:
      rbe: true
      target: ${{ matrix.target }}
      trusted: ${{ inputs.trusted }}
      upload-name: ${{ matrix.upload-name }}
      upload-path: ${{ matrix.upload-path }}
    strategy:
      fail-fast: false
      matrix:
        include:
        - target: format
          upload-name: fix_format.diff
          upload-path: /home/runner/work/_temp/container/fix_format.diff
          diskpace-hack-paths: |
            /opt/hostedtoolcache
        - target: format-api
          upload-name: fix_proto_format.diff
          upload-path: /home/runner/work/_temp/container/fix_proto_format.diff
