name: Precheck/publish

permissions:
  contents: read

on:
  workflow_call:
    secrets:
      gcp-key:
        required: true
    inputs:
      request:
        type: string
        required: true
      trusted:
        type: boolean
        required: true

concurrency:
  group: ${{ github.head_ref || github.run_id }}-${{ github.workflow }}-publish
  cancel-in-progress: true


jobs:
  publish:
    permissions:
      actions: read
      contents: read
      packages: read
    uses: ./.github/workflows/_run.yml
    name: ${{ matrix.name || matrix.target }}
    with:
      arch: ${{ matrix.arch }}
      bazel-cache: ${{ matrix.bazel-cache != 'DISABLE' }}
      bazel-cache-output-base: ${{ matrix.bazel-cache-output-base || 'base' }}
      bazel-extra: ${{ matrix.bazel-extra || '--config=rbe' }}
      cache-build-image: ${{ fromJSON(inputs.request).request.build-image.default }}
      cache-build-image-key-suffix: ${{ matrix.arch == 'arm64' && '-arm64' || '' }}
      concurrency-suffix: -${{ matrix.target }}${{ matrix.arch && format('-{0}', matrix.arch) || '' }}
      rbe: ${{ matrix.rbe }}
      request: ${{ inputs.request }}
      runs-on: ${{ matrix.runs-on || fromJSON(inputs.request).config.ci.agent-ubuntu  }}
      timeout-minutes: ${{ matrix.timeout-minutes || 120 }}
      error-match: |
        ERROR
        error:
        Error:
      skip: ${{ matrix.skip != false && true || false }}
      steps-post: ${{ matrix.steps-post }}
      target: ${{ matrix.target }}
      target-suffix: ${{ matrix.target-suffix }}
      trusted: ${{ inputs.trusted }}
      upload-name: ${{ matrix.upload-name }}
      upload-path: ${{ matrix.upload-path }}
    strategy:
      fail-fast: false
      matrix:
        include:
        - target: release.test_only
          name: Release (x64)
          target-suffix: x64
          arch: x64
          rbe: true
        - target: release.test_only
          name: Release (arm64)
          target-suffix: arm64
          arch: arm64
          rbe: true
          runs-on: ${{ vars.ENVOY_ARM_VM || 'ubuntu-24.04-arm' }}
          timeout-minutes: 180
        - target: config
          name: Config
          bazel-cache: true
          bazel-cache-output-base: docs
          rbe: true
          skip: ${{ ! fromJSON(inputs.request).run.precheck-publish-config }}
        - target: docs
          name: Docs
          bazel-cache: true
          bazel-cache-output-base: docs
          bazel-extra: >-
            --config=rbe
            --config=docs-ci
          rbe: true
          upload-name: docs
          upload-path: generated/docs
          steps-post: |
            - uses: envoyproxy/toolshed/actions/jq@35f9bcf37d0ceaedea0250da014348ce4bdf8d35  # v0.4.1
              with:
                output-path: generated/docs/gcs-metadata.json
                input-format: yaml
                input: |
                  bucket: ${{
                    inputs.trusted
                    && vars.GCS_ARTIFACT_BUCKET_POST
                    || vars.GCS_ARTIFACT_BUCKET_PRE }}
                  sha: ${{ fromJSON(inputs.request).request.sha }}
                  path_upload: docs
                  redirect: ${{
                    vars.GCS_ARTIFACT_PREFIX && format('{0}-', vars.GCS_ARTIFACT_PREFIX)
                    }}${{ fromJSON(inputs.request).request.pr
                          || fromJSON(inputs.request).request.target-branch }}
            - shell: bash
              run: |
                ln -sf %{{ github.workspace }}/generated %{{ runner.temp }}/generated

  upload:
    secrets:
      gcp-key: ${{ secrets.gcp-key }}
    if: >-
      !cancelled()
    needs: publish
    uses: ./.github/workflows/_upload_gcs.yml
    with:
      artifacts: |
        ["docs"]
