name: Precheck/publish

permissions:
  contents: read

on:
  workflow_call:
    secrets:
      gcp-key:
        required: true
      gcs-cache-key:
        required: true
    inputs:
      gcs-cache-bucket:
        type: string
        required: true
      request:
        type: string
        required: true
      trusted:
        type: boolean
        required: true

concurrency:
  group: ${{ github.head_ref || github.run_id }}-${{ github.workflow }}-publish
  cancel-in-progress: true


jobs:
  publish:
    secrets:
      gcp-key: ${{ secrets.gcp-key }}
      gcs-cache-key: ${{ secrets.gcs-cache-key }}
    permissions:
      contents: read
      packages: read
    uses: ./.github/workflows/_run.yml
    name: ${{ matrix.name || matrix.target }}
    with:
      arch: ${{ matrix.arch }}
      bazel-extra: ${{ matrix.bazel-extra || '--config=remote-envoy-engflow' }}
      cache-build-image: ${{ fromJSON(inputs.request).request.build-image.default }}
      cache-build-image-key-suffix: ${{ matrix.arch == 'arm64' && '-arm64' || '' }}
      concurrency-suffix: -${{ matrix.target }}${{ matrix.arch && format('-{0}', matrix.arch) || '' }}
      gcs-cache-bucket: ${{ inputs.gcs-cache-bucket }}
      rbe: ${{ matrix.rbe }}
      request: ${{ inputs.request }}
      runs-on: ${{ matrix.runs-on || fromJSON(inputs.request).config.ci.agent-ubuntu  }}
      timeout-minutes: ${{ matrix.timeout-minutes || 120 }}
      error-match: |
        ERROR
        error:
        Error:
      steps-post: ${{ matrix.steps-post }}
      target: ${{ matrix.target }}
      target-suffix: ${{ matrix.target-suffix }}
      trusted: ${{ inputs.trusted }}
    strategy:
      fail-fast: false
      matrix:
        include:
        - target: release.test_only
          name: Release (x64)
          target-suffix: x64
          arch: x64
          rbe: true
        - target: release.test_only
          name: Release (arm64)
          target-suffix: arm64
          arch: arm64
          rbe: true
          runs-on: ${{ vars.ENVOY_ARM_VM || 'ubuntu-24.04-arm' }}
          timeout-minutes: 180
        - target: docs
          name: Docs
          bazel-extra: >-
            --config=remote-envoy-engflow
            --config=docs-ci
          rbe: true
          steps-post: |
            - uses: envoyproxy/toolshed/gh-actions/gcs/artefact/sync@actions-v0.3.29
              with:
                bucket: ${{ inputs.trusted && vars.GCS_ARTIFACT_BUCKET_POST || vars.GCS_ARTIFACT_BUCKET_PRE }}
                path: generated/docs
                path-upload: docs
                sha: ${{ fromJSON(inputs.request).request.sha }}
                redirect: >-
                  ${{ vars.GCS_ARTIFACT_PREFIX
                      && format('{0}-', vars.GCS_ARTIFACT_PREFIX)
                  }}${{ fromJSON(inputs.request).request.pr
                        || fromJSON(inputs.request).request.target-branch }}
