name: Request/incoming

permissions:
  contents: read

on:
  workflow_call:
    secrets:
      app-id:
        required: true
      app-key:
        required: true
      lock-app-id:
        required: true
      lock-app-key:
        required: true
      gcs-cache-key:
        required: true

    # Defaults are set .github/config.yml on the `main` branch.
    inputs:
      gcs-cache-bucket:
        type: string
        required: true

      cache-bazel-hash-paths:
        type: string
        default: |
          WORKSPACE
          **/*.bzl
          .github/workflows/_request_cache_bazel.yml
          !mobile/**/*
      config-file:
        type: string
        default: ./.github/config.yml

concurrency:
  group: |
    ${{ github.actor != 'trigger-release-envoy[bot]'
        && github.head_ref
        || github.run_id
    }}-${{ github.workflow }}-env-prime
  cancel-in-progress: true

env:
  CI_DEBUG: ${{ (vars.CI_DEBUG || vars.RUNNER_DEBUG) && true || false }}


jobs:
  incoming:
    if: ${{ github.repository == 'envoyproxy/envoy' || vars.ENVOY_CI }}
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      pull-requests: read
    outputs:
      env: ${{ steps.data.outputs.value }}
      caches: ${{ steps.caches.outputs.value }}
      config: ${{ steps.config.outputs.config }}
    steps:
    - uses: envoyproxy/toolshed/gh-actions/jq@actions-v0.3.29
      id: started
      name: Create timestamp
      with:
        options: -r
        filter: |
          now
    - uses: envoyproxy/toolshed/gh-actions/github/checkout@actions-v0.3.29
      id: checkout
      name: Checkout Envoy repository (requested)
      with:
        pr: ${{ github.event.number }}
        branch: ${{ github.ref_name }}
        config: |
          fetch-depth: ${{ startsWith(github.event_name, 'pull_request') && 1 || 2 }}
          path: requested
    # This step *LOOKS AT* the repo at the point requested
    # Its essential that this _job_ *MUST NOT EXECUTE ANY CODE FROM THE CHECKED OUT REPO*
    # *ALL* variables collected should be treated as untrusted and should be sanitized before
    # use
    - name: Generate environment variables from commit
      uses: envoyproxy/toolshed/gh-actions/envoy/ci/request@actions-v0.3.29
      id: env
      with:
        branch-name: ${{ steps.checkout.outputs.branch-name }}
        config-file: ${{ inputs.config-file }}
        merge-commit: ${{ steps.checkout.outputs.merge-commit }}
        started: ${{ steps.started.outputs.value }}
        token: ${{ secrets.GITHUB_TOKEN }}
        vars: ${{ toJSON(vars) }}
        working-directory: requested

    - uses: envoyproxy/toolshed/gh-actions/github/checkout@actions-v0.3.29
      id: checkout-target
      name: Checkout Envoy repository (target branch)
      with:
        branch: ${{ fromJSON(steps.env.outputs.data).request.target-branch }}
        config: |
          fetch-depth: 1
          path: target
    - uses: envoyproxy/toolshed/gh-actions/hashfiles@actions-v0.3.29
      id: bazel-cache-hash
      name: Bazel cache hash
      with:
        files: ${{ inputs.cache-bazel-hash-paths }}
        working-directory: target

    - name: Request summary
      id: summary
      uses: envoyproxy/toolshed/gh-actions/github/env/summary@actions-v0.3.29
      with:
        actor: ${{ toJSON(fromJSON(steps.env.outputs.data).request.actor) }}
        base-sha: ${{ fromJSON(steps.env.outputs.data).request.base-sha }}
        link: ${{ format('https://github.com/{0}/actions/runs/{1}', github.repository, github.run_id) }}
        output-path: GITHUB_STEP_SUMMARY
        pr: ${{ github.event.number }}
        data: ${{ steps.env.outputs.data }}
        tables: ${{ toJSON(fromJSON(steps.env.outputs.data).config.tables) }}
        icon: ${{ fromJSON(steps.env.outputs.data).config.envoy.icon }}
        message: ${{ fromJSON(steps.env.outputs.data).request.message }}
        ref: ${{ fromJSON(steps.env.outputs.data).request.ref }}
        sha: ${{ fromJSON(steps.env.outputs.data).request.sha }}
        target-branch: ${{ fromJSON(steps.env.outputs.data).request.target-branch }}

    - name: Environment data
      uses: envoyproxy/toolshed/gh-actions/jq@actions-v0.3.29
      id: data
      with:
        input: |
          cache:
            bazel: ${{ steps.bazel-cache-hash.outputs.value }}
          env: ${{ steps.env.outputs.data }}
          title: ${{ steps.summary.outputs.title }}
          link: ${{ format('https://github.com/{0}/actions/runs/{1}', github.repository, github.run_id) }}
          summary: ${{ steps.summary.outputs.summary }}
        input-format: yaml
        filter: |
          .title as $title
          | .cache as $cache
          | .env.config.envoy.icon as $icon
          | .link as $link
          | "\($icon) Request ([\($title)](\($link)))" as $linkedTitle
          | .summary as $summary
          | .env
          | .config.ci.cache = $cache
          | .summary = {
              $summary,
              $title,
              $link,
              "linked-title": $linkedTitle}
          | del(.config.tables)

    # TODO(phlax): shift this to ci/request action above
    - name: Check Docker cache (x64)
      id: cache-exists-docker-x64
      uses: actions/cache/restore@0057852bfaa89a56745cba8c7296529d2fc39830  # v4.3.0
      with:
        lookup-only: true
        path: /tmp/cache
        key: ${{ fromJSON(steps.data.outputs.value).request.build-image.default }}
    - name: Check Docker cache (arm64)
      id: cache-exists-docker-arm64
      uses: actions/cache/restore@0057852bfaa89a56745cba8c7296529d2fc39830  # v4.3.0
      with:
        lookup-only: true
        path: /tmp/cache
        key: ${{ fromJSON(steps.data.outputs.value).request.build-image.default }}-arm64

    - uses: envoyproxy/toolshed/gh-actions/gcp/setup@actions-v0.3.29
      name: Setup GCP
      with:
        key: ${{ secrets.gcs-cache-key }}

    - uses: envoyproxy/toolshed/gh-actions/gcs/cache/exists@actions-v0.3.29
      name: Check GCS bucket cache (x64)
      id: cache-exists-bazel-x64
      with:
        bucket: ${{ inputs.gcs-cache-bucket }}
        key: ${{ fromJSON(steps.data.outputs.value).config.ci.cache.bazel }}-x64
    - uses: envoyproxy/toolshed/gh-actions/gcs/cache/exists@actions-v0.3.29
      name: Check GCS bucket cache (arm64)
      id: cache-exists-bazel-arm64
      with:
        bucket: ${{ inputs.gcs-cache-bucket }}
        key: ${{ fromJSON(steps.data.outputs.value).config.ci.cache.bazel }}-arm64

    - name: Caches
      uses: envoyproxy/toolshed/gh-actions/jq@actions-v0.3.29
      id: caches
      with:
        input-format: yaml
        input: |
          bazel:
            x64: ${{ steps.cache-exists-bazel-x64.outputs.exists || 'false' }}
            arm64: ${{ steps.cache-exists-bazel-arm64.outputs.exists || 'false' }}
          docker:
            x64: ${{ steps.cache-exists-docker-x64.outputs.cache-hit || 'false' }}
            arm64: ${{ steps.cache-exists-docker-arm64.outputs.cache-hit || 'false' }}

  cache:
    permissions:
      contents: read
      packages: read
    if: ${{ github.repository == 'envoyproxy/envoy' || vars.ENVOY_CI }}
    needs: incoming
    uses: ./.github/workflows/_request_cache.yml
    secrets:
      app-id: ${{ secrets.lock-app-id }}
      app-key: ${{ secrets.lock-app-key }}
      gcs-cache-key: ${{ secrets.gcs-cache-key }}
    with:
      caches: ${{ needs.incoming.outputs.caches }}
      env: ${{ needs.incoming.outputs.env }}
      gcs-cache-bucket: ${{ inputs.gcs-cache-bucket }}

  checks:
    if: ${{ github.repository == 'envoyproxy/envoy' || vars.ENVOY_CI }}
    needs: incoming
    uses: ./.github/workflows/_request_checks.yml
    secrets:
      app-id: ${{ secrets.app-id }}
      app-key: ${{ secrets.app-key }}
    with:
      env: ${{ needs.incoming.outputs.env }}
