name: Request/Cache prime (bazel)

permissions:
  contents: read

on:
  workflow_call:
    secrets:
      app-id:
        required: true
      app-key:
        required: true

    inputs:
      arch:
        type: string
        default: x64
      caches:
        type: string
        required: true
      request:
        type: string
        required: true
      runs-on:
        type: string
        default:
      lock-repository:
        type: string
        default: envoyproxy/ci-mutex
      targets:
        type: string
        default: ...


jobs:
  bazel:
    permissions:
      actions: write
      contents: read
      packages: read
    runs-on: ${{ inputs.runs-on || fromJSON(inputs.request).config.ci.agent-ubuntu }}
    name: "[${{ inputs.arch }}] Prime Bazel cache"
    if: ${{ ! fromJSON(inputs.caches).bazel[inputs.arch] }}
    steps:
    - uses: envoyproxy/toolshed/actions/bind-mounts@35f9bcf37d0ceaedea0250da014348ce4bdf8d35  # v0.4.1
      with:
        mounts: |
          - src: /mnt/workspace
            target: GITHUB_WORKSPACE
            chown: "runner:runner"
          - src: /mnt/workspace
            target: /source
            chown: "runner:docker"
          # Simulate container build directory
          - src: /mnt/build
            target: /build
            chown: "runner:docker"
    - name: Free diskspace
      uses: envoyproxy/toolshed/actions/diskspace@35f9bcf37d0ceaedea0250da014348ce4bdf8d35  # v0.4.1
      if: inputs.arch == 'x64' && github.event.repository.private
    - uses: envoyproxy/toolshed/actions/github/checkout@35f9bcf37d0ceaedea0250da014348ce4bdf8d35  # v0.4.1
      id: checkout-target
      name: Checkout Envoy repository (target branch)
      with:
        branch: ${{ fromJSON(inputs.request).request.target-branch }}
        config: |
          fetch-depth: 1

    - uses: envoyproxy/toolshed/actions/appauth@35f9bcf37d0ceaedea0250da014348ce4bdf8d35  # v0.4.1
      id: appauth
      name: Appauth (mutex lock)
      with:
        app_id: ${{ secrets.app-id }}
        key: ${{ secrets.app-key }}

    - uses: envoyproxy/toolshed/actions/cache/prime@35f9bcf37d0ceaedea0250da014348ce4bdf8d35  # v0.4.1
      id: bazel-cache
      name: Prime Bazel cache
      with:
        artifact-name: ${{ fromJSON(inputs.request).config.ci.cache.bazel.hash }}-${{ inputs.arch }}
        artifact-wf-path: .github/workflows/request.yml
        cache-type: artifact
        change-directory: false
        # TODO(phlax): add loop for multiple targets
        command: |
          # Simulate container source directory
          cd /source
          export BAZEL_BUILD_EXTRA_OPTIONS="--config=ci --config=rbe"
          export ENVOY_CACHE_ROOT=/build/bazel_root
          export ENVOY_CACHE_TARGETS=$(echo "${{ inputs.targets }}" | sed 's/ / + /g')
          # ironically the repository_cache is just about the only thing you dont want to cache
          export ENVOY_REPOSITORY_CACHE=/tmp/cache
          ./ci/do_ci.sh cache-create
        key: ${{ fromJSON(inputs.request).config.ci.cache.bazel.hash }}-${{ inputs.arch }}
        lock-token: ${{ steps.appauth.outputs.token }}
        lock-repository: ${{ inputs.lock-repository }}
        mount-tmpfs: false
        path: /build/bazel_root
        run-as-sudo: false
      env:
        GITHUB_TOKEN: ${{ github.token }}
