name: Request/cache

permissions:
  contents: read

on:
  workflow_call:
    secrets:
      app-id:
        required: true
      app-key:
        required: true
      gcs-cache-key:
        required: true

    inputs:
      env:
        type: string
        required: true
      caches:
        type: string
        required: true
      gcs-cache-bucket:
        type: string
        required: true


jobs:
  docker:
    secrets:
      app-id: ${{ secrets.app-id }}
      app-key: ${{ secrets.app-key }}
    name: Docker/${{ matrix.arch }}
    uses: ./.github/workflows/_request_cache_docker.yml
    with:
      arch: ${{ matrix.arch }}
      cache-suffix: ${{ matrix.cache-suffix }}
      caches: ${{ inputs.caches }}
      image-tag: ${{ fromJSON(inputs.env).request.build-image.default }}
      runs-on: ${{ matrix.runs-on }}
    strategy:
      fail-fast: false
      matrix:
        include:
        - target: docker-x64
          arch: x64
        - target: docker-arm64
          arch: arm64
          cache-suffix: -arm64
          runs-on: ${{ vars.ENVOY_ARM_VM || 'ubuntu-24.04-arm' }}

  bazel:
    permissions:
      contents: read
      packages: read
    secrets:
      app-id: ${{ secrets.app-id }}
      app-key: ${{ secrets.app-key }}
      gcs-cache-key: ${{ secrets.gcs-cache-key }}
    name: ${{ matrix.name || matrix.target }}
    uses: ./.github/workflows/_request_cache_bazel.yml
    with:
      arch: ${{ matrix.arch || 'x64' }}
      bazel-extra: ${{ matrix.bazel-extra }}
      caches: ${{ inputs.caches }}
      gcs-cache-bucket: ${{ inputs.gcs-cache-bucket }}
      request: ${{ inputs.env }}
      runs-on: ${{ matrix.runs-on }}
      targets: ${{ matrix.targets || '...' }}
    strategy:
      fail-fast: false
      matrix:
        include:
        - name: Bazel (x64/cache)
          bazel-extra: >-
            --config=remote-clang
            --config=remote-envoy-engflow
        - name: Bazel (arm64/cache)
          arch: arm64
          runs-on: ${{ vars.ENVOY_ARM_VM || 'ubuntu-24.04-arm' }}
          bazel-extra: >-
             --config=remote-arm64-clang
             --config=common-envoy-engflow
             --config=cache-envoy-engflow
          targets: >-
            //test/...
            //contrib/...
            //source/...
