name: Request/cache

permissions:
  contents: read

on:
  workflow_call:
    secrets:
      app-id:
        required: true
      app-key:
        required: true

    inputs:
      env:
        type: string
        required: true
      caches:
        type: string
        required: true


jobs:
  docker:
    secrets:
      app-id: ${{ secrets.app-id }}
      app-key: ${{ secrets.app-key }}
    name: Docker/${{ matrix.arch }}
    uses: ./.github/workflows/_request_cache_docker.yml
    with:
      arch: ${{ matrix.arch }}
      cache-suffix: ${{ matrix.cache-suffix }}
      caches: ${{ inputs.caches }}
      image-tag: ${{ fromJSON(inputs.env).request.build-image.default }}
      runs-on: ${{ matrix.runs-on }}
    strategy:
      fail-fast: false
      matrix:
        include:
        - target: docker-x64
          arch: x64
        - target: docker-arm64
          arch: arm64
          cache-suffix: -arm64
          runs-on: ${{ vars.ENVOY_ARM_VM || 'ubuntu-24.04-arm' }}

  bazel:
    permissions:
      actions: write
      contents: read
      packages: read
    secrets:
      app-id: ${{ secrets.app-id }}
      app-key: ${{ secrets.app-key }}
    name: ${{ matrix.name || matrix.target }}
    uses: ./.github/workflows/_request_cache_bazel.yml
    with:
      arch: ${{ matrix.arch || 'x64' }}
      caches: ${{ inputs.caches }}
      output-base: ${{ matrix.output-base || 'base' }}
      request: ${{ inputs.env }}
      runs-on: ${{ matrix.runs-on }}
      targets: ${{ matrix.targets || '...' }}
      working-dir: ${{ matrix.working-dir || '' }}
    strategy:
      fail-fast: false
      matrix:
        include:
        - name: Bazel (x64/cache)
        - name: Bazel (arm64/cache)
          arch: arm64
          runs-on: ${{ vars.ENVOY_ARM_VM || 'ubuntu-24.04-arm' }}
          targets: >-
            //test/...
            //contrib/...
            //source/...
        - name: Bazel docs (x64/cache)
          output-base: docs
          targets: //:envoy-docs
          working-dir: docs
        - name: Bazel external (x64/cache)
          output-base: external
          targets: >-
            @envoy//source/common/common:assert_lib
            @envoy-docs
          working-dir: bazel/tests/external
