name: Upload to GCS

permissions:
  contents: read

on:
  workflow_call:
    secrets:
      gcp-key:
        required: true
    inputs:
      artifacts:
        description: JSON array of artifacts to upload to GCS
        type: string
        required: true


jobs:
  upload:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    strategy:
      matrix:
        artifact: ${{ fromJSON(inputs.artifacts) }}
    steps:
    - uses: actions/download-artifact@v4.1.3
      id: download
      with:
        name: ${{ matrix.artifact }}
        path: ${{ matrix.artifact }}
      continue-on-error: true
    - uses: envoyproxy/toolshed/actions/jq@35f9bcf37d0ceaedea0250da014348ce4bdf8d35  # v0.4.1
      if: steps.download.outcome == 'success'
      id: metadata
      with:
        input: ${{ matrix.artifact }}/gcs-metadata.json
        input-format: json-path
    - if: steps.download.outcome == 'success'
      run: |
        rm -rf ${{ matrix.artifact }}/gcs-metadata.json
    - uses: envoyproxy/toolshed/actions/gcp/setup@35f9bcf37d0ceaedea0250da014348ce4bdf8d35  # v0.4.1
      if: steps.download.outcome == 'success'
      with:
        key: ${{ secrets.gcp-key }}
    - uses: envoyproxy/toolshed/actions/gcs/artefact/sync@35f9bcf37d0ceaedea0250da014348ce4bdf8d35  # v0.4.1
      if: steps.download.outcome == 'success'
      with:
        bucket: ${{ steps.metadata.outputs.bucket }}
        path: ${{ matrix.artifact }}
        path-upload: ${{ matrix.target }}
        sha: ${{ steps.metadata.outputs.sha }}
        redirect: ${{ steps.metadata.outputs.redirect }}
