name: 'Dependency Review'
on: [pull_request]

jobs:
  dependency-review:
    runs-on: ubuntu-latest
    if: github.repository == 'envoyproxy/envoy'
    steps:
      - name: 'Checkout Repository'
        uses: actions/checkout@dcd71f646680f2efd8db4afa5ad64fdcba30e748
      - name: 'Dependency Review'
        uses: actions/dependency-review-action@aabd50a60d6c84ff6d888ca2b89536802fda3cf6
