# This file must live on every branch and pass necessary secrets and permissions
#   to initiate the request
name: Request

permissions:
  contents: read

on:
  pull_request_target:
    branches:
    - main
    - release/v*
    - ci/testing
  push:
    branches:
    - main
    - release/v*
    - ci/testing
  schedule:
  - cron: '30 6 * * *'

concurrency:
  group: |
    ${{ github.head_ref
        || github.run_id
    }}-${{ github.workflow }}-request
  cancel-in-progress: true


jobs:
  # Envoy (and mirror repos) have an environment setup that requires maintainer approval
  # to use it. This CI checks if the request is from a first-time contributor, and in that
  # case it uses the environment and requires the permission to proceed.
  authorize:
    if: >-
      ${{ github.repository == 'envoyproxy/envoy'
          || (vars.ENVOY_CI && github.event_name != 'schedule')
          || (vars.ENVOY_SCHEDULED_CI && github.event_name == 'schedule') }}
    runs-on: ubuntu-24.04
    environment: >-
      ${{ github.event_name == 'pull_request_target'
          && github.event.pull_request.author_association != 'MEMBER'
          && github.event.pull_request.author_association != 'COLLABORATOR'
          && github.event.pull_request.author_association != 'CONTRIBUTOR'
          && github.event.pull_request.author_association != 'OWNER'
          && 'external-contributors'
          || '' }}
    steps:
    - run: |
        echo "Authorized"
        echo "  Event: ${{ github.event_name }}"
        echo "  Author association: ${{ github.event.pull_request.author_association }}"

  request:
    needs: authorize
    permissions:
      actions: write
      contents: read
      packages: read
      # required to fetch merge commit
      pull-requests: read
    secrets:
      # these are required to start checks
      app-key: ${{ secrets.ENVOY_CI_APP_KEY }}
      app-id: ${{ secrets.ENVOY_CI_APP_ID }}
      lock-app-key: ${{ secrets.ENVOY_CI_MUTEX_APP_KEY }}
      lock-app-id: ${{ secrets.ENVOY_CI_MUTEX_APP_ID }}
    # For branches this can be pinned to a specific version if required
    # NB: `uses` cannot be dynamic so it _must_ be hardcoded anywhere it is read
    uses: envoyproxy/envoy/.github/workflows/_request.yml@main
    if: >-
      ${{ github.repository == 'envoyproxy/envoy'
          || (vars.ENVOY_CI && github.event_name != 'schedule')
          || (vars.ENVOY_SCHEDULED_CI && github.event_name == 'schedule') }}
