<div id="search" role="search">
  <form>
    <input class="st-default-search-input" id="st-default-search-input" type="search" placeholder="Search the docs">
  </form>
  <div id="st-results-container"></div>
  <script type="text/javascript">
    (function(w,d,t,u,n,s,e){w['SwiftypeObject']=n;w[n]=w[n]||function(){
    (w[n].q=w[n].q||[]).push(arguments);};s=d.createElement(t);
    e=d.getElementsByTagName(t)[0];s.async=1;s.src=u;e.parentNode.insertBefore(s,e);
    })(window,document,'script','//s.swiftypecdn.com/install/v2/st.js','_st');

    _st('install','baT6o75WaYWmsxe1oZx2','2.0.0');
  </script>
</div>
