<div class="landing-cta">
  <section class="wrap-container">
    <%= link_to t("cta.docs"),
      "./docs/index.html", class: "landing-cta-button-fill" %>
    <%= link_to t("cta.github"),
      "http://github.com/lyft/envoy", class: "landing-cta-button-outline" %>
  </section>
</div>
